<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aslam.co321_project">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Distributor.Home"
            android:label="Survail Pharma"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".graph"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity android:name=".add_duties" />
        <activity android:name=".Pharmacist.Home" />
        <activity android:name=".Authentication.distrReg" />
        <activity android:name=".Authentication.pharmReg" />
        <activity android:name=".Authentication.finishReg" />
        <activity android:name=".Authentication.profile_reg" />
        <activity android:name=".Authentication.logIn"></activity>
        <activity android:name=".Driver.Messages" />
        <activity android:name=".Driver.Customer" />
        <activity android:name=".Driver.Home" />
        <activity android:name=".Authentication.Register_1" />
    </application>

</manifest>