<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aslam.co321_project">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Distributor_home"></activity>
        <activity android:name=".Pharmacist_Home" />
        <activity android:name=".distrReg" />
        <activity android:name=".pharmReg" />
        <activity android:name=".finishReg" />
        <activity android:name=".profile_reg">
        </activity>
        <activity android:name=".logIn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Driver_Messages" />
        <activity android:name=".Customer" />
        <activity android:name=".Driver_Home">

        </activity>
        <activity android:name=".Register_1" />
    </application>

</manifest>