<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aslam.co321_project">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Project"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ProfileTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Pharmacist.MainActivity"
            android:label="@string/title_activity_main"></activity>
        <!-- Authentication activities -->
        <activity android:name=".Authentication.DistributorShopDetail" />
        <activity android:name=".Authentication.PharmacyDet" />
        <activity android:name=".Authentication.finishReg" />
        <activity android:name=".Authentication.AddAPhoto" />
        <activity android:name=".Authentication.SignUp" />
        <activity android:name=".Authentication.logIn" /> <!-- Distributor activities -->
        <activity
            android:name=".Distributor.MainActivity"
            android:label="Survail Pharma"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Common.BoxConditions" />
        <activity android:name=".Common.ViewDistribution" /> <!-- Pharmacist activities -->
        <!-- Driver activities -->
        <activity android:name=".Driver.Home" /> <!-- Common activities -->
        <activity android:name=".Common.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Common.graph"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity android:name=".Common.AboutUs" />
    </application>

</manifest>